
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>formulaire dating</title>
<link th:href=@{/css/index.css} rel="stylesheet" type="text/css"
	media="screen" />
</head>
<body>
	<div class="form-style-3">
		<form th:action=@{/formulaire} method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Entrez vos Informations:</legend>
				
					<label for="nom"><span>Nom <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{utilisateur.nom}" /></label>
					
					<label for="prenom"><span>Prenom <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{utilisateur.prenom}" /></label> 
					
					<label for="dateDeNaissance"><span>Date De Naissance <span class="required">*</span></span>
					<input type="date" class="input-field" th:field="*{utilisateur.dateDeNaissance}" /></label> 
					
					<label for="emailUtilisateur"><span>Email <span class="required">*</span></span>
					<input type="email" class="input-field" th:field="*{utilisateur.emailUtilisateur}"/></label>
					<br> 
					<label for="numeroTel"><span>Numero de Tel <span class="required">*</span></span> 
					<input type="text" class="input-field" th:field="*{utilisateur.numeroTel}"/></label> 
					
					
				   
				   <label for="sexe"><span>Sexe:<span class="required">*</span></span>
					<select th:field="*{utilisateur.sexe}" id=sexe>
						<option  th:each="type : ${sexe}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				</fieldset> 
				
				<fieldset><legend>Adresse</legend>
					
					
					<label for="numero"><span>Numero <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{adresse.numero}"  /></label>

					
					<label for="prefixe"><span>Préfixe:<span class="required">*</span></span>
					<select th:field="*{adresse.prefixe}" id=prefixe>
						
						<option  th:each="type : ${prefixe}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
					<label for="typeRue"><span>Type de Rue:<span class="required">*</span></span>
						<select th:field="*{adresse.typeRue}" id=typeRue>
						
						<option  th:each="type : ${typeRue}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
					<label for="ville"><span>Ville <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{adresse.ville}"  /></label>
					
					<label for="cp"><span>Code Postale <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{adresse.codePostale}"  /></label>
		
			</fieldset>
			
			<fieldset><legend>Connexion</legend>
					
					<label for="pseud"><span>Pseudo<span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{utilisateur.pseudo}"  /></label>
					
					<label for="motDePasse"><span>Mot de Passe <span class="required">*</span></span>
					<input type="password" class="input-field" th:field="*{utilisateur.motDePasse}"  /></label>
			</fieldset>
			
			
			<fieldset>
				<legend>Description:</legend>
				
				<label for="description"><span>Presentez-vous <span
						class="required">*</span></span> 
						<textarea name="description" class="textarea-field" th:field="*{utilisateur.description}"></textarea></label> <label> <span>&nbsp;</span></label>
			</fieldset>		
		 	
		 	<fieldset><legend>Vos Photos</legend>
		 	<label for="photo"><span>Insérerez photo </span></label>	
 			<input type="file" name="file" />
			</fieldset>
			
			<fieldset>
				<legend>Statut</legend>
								
				<label for="orientation"><span>Orientation Sexuelle<span class="required">*</span></span>
						<select th:field="*{situation.orientation}" id=orientation>
						<option  th:each="type : ${orientation}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
				<label for="statutPro"><span>Statut Professionnelle<span class="required">*</span></span>
				<select th:field="*{situation.statutPro}" id=statutPro>
						<option  th:each="type : ${statutPro}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				
				<label for="statutPerso"><span>Statut Personnelle<span class="required">*</span></span>
				<select th:field="*{situation.statutPerso}" id=statutPerso>
						<option  th:each="type : ${statutPerso}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				 
					
				<label for="nbreEnfant"><span>Nombre d'enfants<span class="required">*</span></span>
				<select th:field="*{situation.nbreEnfant}" id=nbreEnfant>
						<option  th:each="type : ${nbreEnfant}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				 
			</fieldset>
			
				
			<fieldset>
				<legend>Apparence</legend>
				
				
				
				<label for="couleurCheveux"><span>Couleur Cheveux<span class="required">*</span></span>
				<select th:field="*{apparence.couleurCheveux}" id=couleurCheveux>
						<option  th:each="type : ${couleurCheveux}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
					<label for="couleurYeux"><span>Couleur Yeux<span class="required">*</span></span>
				<select th:field="*{apparence.couleurYeux}" id=couleurYeux>
						<option  th:each="type : ${couleurYeux}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
					
					<label for="typeCheveux"><span>Type Cheveux<span class="required">*</span></span>
				<select th:field="*{apparence.typeCheveux}" id=typeCheveux>
						<option  th:each="type : ${typeCheveux}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
					
		    	<label for="origine"><span>Origine Ethnique<span class="required">*</span></span>
				<select th:field="*{apparence.origine}" id=typeCheveux>
						<option  th:each="type : ${origine}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
					
				
			
				<label for="taille"><span>Taille <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{apparence.taille}" /></label> 
				
				<label for="masse"><span>Poid <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{apparence.taille}" /></label>  
					
				
				</fieldset>
			
			
			<fieldset>
				<legend>Centres D'Intérêt</legend>
								
				
				<label for="sport"><span>Activité Physique<span class="required">*</span></span>
				<select th:field="*{centreInteret.sport}" id=sport>
						<option  th:each="type : ${sport}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				
				<label for="typesport"><span>Entrer le(s) sport(s) que vous pratiquez</span> 
					<input type="text" class="input-field" name="typesport" value="" /></label> 
					

					<br>
				<label for="fumeur"><span>Fumez-vous?<span class="required">*</span></span>
				<select th:field="*{centreInteret.fumeur}" id=sport>
						<option  th:each="type : ${fumeur}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				
				
			  	
			 	<label for="alcool"><span>Consommez-vous de l'alcool?<span class="required">*</span></span>
				<select th:field="*{centreInteret.alcool}" id=alcool>
						<option  th:each="type : ${alcool}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				
				<label for="field22"><span>Quels sont vos loisirs?<span class="required">*</span></span> 
					 <textarea name="field22" class="textarea-field"></textarea></label> <label> <span>&nbsp;</span>
					
				
			</label>
			
			</fieldset>
			
				<fieldset>
				<legend>Multimedia</legend>
				
					
				
				
					<label for="typeMultimedia"><span>Type Multimedia?<span class="required">*</span></span>
				<select th:field="*{multimedia.typeMultimedia}" id=typeMultimedia>
						<option  th:each="type : ${typeMultimedia}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
				
					
			
				
					<label for="genre"><span>Genre(s) de Film préféré(s)<span class="required">*</span></span>
				<select th:field="*{multimedia.genre}" id=genre>
						<option  th:each="type : ${genre}" th:value="${type.name()}" th:text="${type}"></option>
					</select></label>
						
					<label for="artiste"><span>Artiste(s) préféré(s) <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{multimedia.artiste}" /></label>
				
					<label for="titre"><span>Titre(s) préféré(s) <span class="required">*</span></span>
					<input type="text" class="input-field" th:field="*{multimedia.titre}" /></label>
					
			  
			</fieldset>
			
			
			
			<input type="submit" value="Submit" />
		</form>
	</div>
	
</body>
</html>
