<!DOCTYPE html>

<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>index dating</title>
<link th:href=@{/css/index.css} rel="stylesheet" type="text/css"
	media="screen" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>
</head>
<body>

	<h1>Welcome on Dating!</h1>
	<h2 th:text="#{hello}"></h2>

	<span class="langue" th:text="#{lang.change}"></span>:
	<select class="langue" id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="fr" th:text="#{lang.fr}"></option>
	</select>

<a th:href=@{/formulaire} > Inscription</a>
<a th:href=@{/connexion} > Connexion</a>
</body>
</html>